@{
    ViewBag.Title = "Index";
}

@*<div class="jumbotron text-center">
        <h1 class="label-primary">My First Bootstrap Page</h1>
        <kbd>Resize this responsive page to see the effect!</kbd>
        <p>Each element is resized appropriately based on how many columns out of 12 it uses</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>Page Layout</p>
                <pre>Its a Jumbotron with 3 columns</pre>
            </div>
            <div class="col-sm-4">
                <h3>Resize</h3>
                <p class="text-danger">When you resize the columns stack on top of each other and the jumbo shifts the text around.</p>
            </div>
            <div class="col-sm-4">
                <h3>Class description</h3>
                <mark>This layout uses the small column with 3 4 spans since the limit for bootstrap is 12</mark>
            </div>
        </div>
    </div>*@

<div class="jumbotron text-center">
    <h1 class="label-primary">My First Bootstrap Page</h1>
    <p><kbd>ctrl+s</kbd> is an absolute must when editing <code>HTML</code></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Layout</h3>
            <p>The page uses a jumbotron for it's header and 3 4-column width divs in a row</p>
        </div>
        <div class="col-sm-4">
            <h3>Resize</h3>
            <mark>elements resize up to a minimum size then reflow to fit a smaller format</mark>
        </div>
        <div class="col-sm-4">

                <h3 >Classes</h3>

            <p class="bg-danger">As above the classes help define a width for elements. Bootstrap uses a 12 column layout to place elements within</p>
        </div>
    </div>
</div>



